*{
    font-family: Montserrat,sans-serif;
    margin: 0%;
}
@font-face {
    font-family: Montserrat;
    src: url(fonts/Montserrat/static/Montserrat-ExtraBold.ttf);
}
.header{
    background-image: url(images/8288.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.btnSign{
    position: absolute;
    top:2%;
    left: 90%;
    background-color: #2C3E50; 
    color: white; /* Text color */
    border: 1px solid #2C3E50; /* Border color matching the background */
    padding: 10px 20px; /* Adjust padding for a nice look */
    border-radius: 5px; /* Rounded corners */
    scale:1.5;
}
.btnSign:hover{
    scale:2.8;
}
.content{
    overflow: hidden;
}
.content>img{
    height: auto;
    width: 800px;
    float: left;
    margin-right: 15px;
}
.content>p{
    color: #2C3E50;
    font-size: xx-large;
    line-height: 1.5;
    
}

.header>h4{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    color: #2C3E50;
    font-size: 100px;
    opacity: 2;
    text-shadow: 
    -1px -1px 0 #2C3E50,  /* Top-left outline */
    1px -1px 0 #2C3E50,   /* Top-right outline */
    -1px 1px 0 #2C3E50,   /* Bottom-left outline */
    1px 1px 0 #2C3E50;    /* Bottom-right outline */
    animation: float 3s ease-in-out infinite; /* Animation applied */
}
.header>img{
    height: 120px;
    width: 120px;
}
@keyframes float {
    0% {
        transform: translateY(0); /* Starting position */
    }
    50% {
        transform: translateY(-20px); /* Move up */
    }
    100% {
        transform: translateY(0); /* Return to original position */
    }
}

